*{
    margin:0;
    padding:0;
    font-family: "Manrope", sans-serif;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

section{
    width: 100%;
    height: 100vh;
    background-image: url(../Background.jpg);
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-around;
    height: 120px;
    align-items: center;
}
ul{
    display:flex;
    justify-content: center;
}

ul li{
    list-style: none;
    margin: 0 30px;
}

ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    transition: .3s;
    display: inline-block
}

ul li a:hover{
    color: white;
    text-shadow: 0 0 20px #00b6df, 0 0 30px #00b6df, 0 0 40px #00b6df;
    transform: scale(1.3);
}

.circle {
    width: 20rem;
    height: 20rem;
    margin-left: 13.5rem;
    border-radius: 50%;
    background-image: url(../meeee.png);
    background-position: center;
    background-size: 160%;
    box-shadow: 0 0 20px #00b6df, 0 0 30px #00b6df;
}

#name{
    font-size: xx-large;
}